{% extends 'layout.html.twig' %}
{% block content %}
        
        <main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-users"></i>&nbsp; {{ title }}</h1>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/"><i class="fa fa-home fa-lg"></i></a>
                    </li>
                    <li class="breadcrumb-item">{{ title }}</li>
                </ul>
            </div>
            <div class="tile pb-5">
                
                {% if title == "Projets" %}
                    {{include('lists/listProject.html.twig')}}
                {% elseif title == "Employés" %}
                    {{include('lists/listEmployees.html.twig')}}
                {% elseif title == "Métiers" %}
                    {{include('lists/listJob.html.twig')}}
                {% endif %}

                <hr/>
                <nav class="float-right">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">1<span class="sr-only">(current)</span></span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a></li>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </main>

{% endblock %}